html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 12px/1 Helvetica,arial,'宋体';
    height: 100%;
    width: 100%;
}

ul, li, a, header, div, section, footer {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(216, 216, 216, 0.8);
    height: 100%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

a {
    text-decoration: none;
}

/** clear float **/
.clearfix:before{content: ""; display: table;}

/***************************************************************************
 *****************************标题栏部分************************************
 ***************************************************************************/
header.head {
    background: -webkit-linear-gradient(top,rgba(90,90,90,0.8),rgba(0,0,0,0.8));
    overflow: hidden;
}

header > div.title {
    vertical-align: middle;
    margin-left: 10px;
    height: 24px;
    padding-top: 10px;
    float: left;
}

header > div.title > img {
    vertical-align: middle;
    margin-top: -6px;
}

header > div.title > span {
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-size: 1em;
    padding-top: 10px;
    margin-left: 10px;
}

header > div.window {
    float: right;
    -webkit-app-region: no-drag;
    overflow: hidden;
}

div.window ul {
    height: 34px;
    overflow: hidden;
}

div.window li {
    float: right;
    /*text-indent: -999px;*/
    height: 100%;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

div.window li:hover {
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.8) 0%, rgba(90,90,90,0.8) 50%);
}

div.window li > span {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    color: #343434;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block;
}

.close:before {
    content: "\e600";
}

.min:before {
    content: "\e601";
}

/***************************************************************************
 *****************************主体部分***************************************
 ***************************************************************************/
#container {
    width: 100%;
    height: 90%;
    -webkit-app-region: no-drag;
    position: relative;
}

#container > section {
    float: left;
}

/***************************************************************************
 *****************************最左边命令部分*********************************
 ***************************************************************************/
#container > section.command {
    width: 22%;
    height: 100%;
    background-color: rgba(140,140,140, 0.8);
    font-size: 1.2em;
    -webkit-app-region: no-drag;
}

#container > section.command > ul > li {
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 1px rgb(216, 216, 216) dashed;
}

#container > section.command li > a {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    color: rgba(0,0,0,0.8);
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: inline-block;
    width: 100%;
}

a > span {
    margin-left: 10px;
    position: absolute;
    top: 5px;
}

.scan:before {
    content: "\e602";
    font-size: 1.5em;
}

.conf:before {
    content: "\e604";
    font-size: 1.5em;
}

.confpanel, .commitupdates {
    width: 400px;
    height: 140px;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 999;
    border: 2px #000 solid;
    background-color: rgba(40,40,40,0.7);
    display: none;
}

.alertpanel, .confirmpanel{
    width: 300px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 999;
    border: 2px #000 solid;
    background-color: rgba(40,40,40,0.7);
}

.commitupdates {
    height: 200px;
}

.confpanel > header, .commitupdates > header, .alertpanel > header, .confirmpanel > header{
    width: 96%;
    height: 20%;
    padding-top: 1%;
    padding-left: 4%;
    color: #ffffff;
    font-style: italic;
    background: -webkit-linear-gradient(top,rgba(90,90,90,0.8),rgba(0,0,0,0.8));
}

.alertpanel > header, .confirmpanel > header{
    line-height: 200%;
    width: 96%;
    height: 20%;
    padding-top: 1%;
    padding-left: 4%;
    color: #ffffff;
    font-style: italic;
    background: -webkit-linear-gradient(top,rgba(90,90,90,0.8),rgba(0,0,0,0.8));
}

.alertpanel .panelcontent, .confirmpanel .panelcontent {
    height: 30px;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
}

.commitupdates > header {
    height: 15%;
}

.confpanel > ul, .commitupdates > ul {
    padding-top: 10px;
    padding-left: 20px;
    overflow: hidden;
    color: #ffffff;
}

.commitupdates > ul > li {
    position: relative;
    line-height: 200%;
}

.commitupdates > ul > li input {
    position: absolute;
    left: 120px;
}

.sure, .cancel, .surecommit, .cancelcommit , .ok, .confirmsure, .confirmcancel{
    width: 50%;
    margin-top: 10px;
    float: left;
}

.ok{
    width: 50%;
    margin-top: 10px;
    float: right;
}

.sure > div, .cancel > div, .surecommit > div, .cancelcommit > div{
    width: 70px;
    height: 30px;
    background-color: rgba(114,172,52,.8);
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    line-height: 200%;
    cursor: pointer;
}

.ok > div, .confirmsure > div, .confirmcancel > div{
    width: 70px;
    height: 30px;
    background-color: rgba(114,172,52,.8);
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    line-height: 250%;
    cursor: pointer;
}

.commit:before {
    content: "\e603";
    font-size: 1.5em;
}

#container > section.command > ul > li:hover {
    background: -webkit-linear-gradient(top, rgba(216, 216, 216, 0.8), rgba(140,140,140, 0.8));
}

/***************************************************************************
 *****************************中间文件浏览器部分*****************************
 ***************************************************************************/
#container > section.local{
    height: 100%;
    width: 42%;
    border-right: 1px rgb(166,166,166) dashed;
}

#container > section.remote {
    height: 100%;
    width: 35%;
}

.local > div, .remote > div {
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    font-style: italic;
}

.path {
    height: 30px;
}

.ipath {
    width: 75%;
}

.file {
    height: 88%;
    background-color: rgba(40,40,40,0.7);
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

.file > ul {
    overflow: hidden;
}

.file > ul > li {
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    cursor: pointer;
}

.file > ul > li > div {
    width: 72%;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;   /*position center*/
}

.fileclick {
    background-color: rgba(0,128,255,0.8);
}


/***************************************************************************
 *****************************导航栏部分***************************************
 ***************************************************************************/
.contextmenu {
    background-color: rgba(140,140,140, 0.8);
    width: 38%;
    overflow: hidden;
    position: absolute;
}

.contextmenu ul {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    color: rgba(0,0,0,0.8);
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
}

.contextmenu li {
    padding: 10px;
    border-bottom: 1px rgba(51,51,51,0.8) dashed;
}

.contextmenu li:hover {
    background: -webkit-linear-gradient(top, rgba(216, 216, 216, 0.8), rgba(140,140,140, 0.8));
    cursor: pointer;
}

.edit:before {
    content: "\e605";
    margin-right: 5px;
}

.refresh:before {
    content: "\e606";
    margin-right: 5px;
}

.newfile:before {
    content: "\e607";
    margin-right: 5px;
}

.newfold:before {
    content: "\e608";
    margin-right: 5px;
}


.trash:before {
    content: "\e609";
    margin-right: 5px;
}

.download:before {
    content: "\e60a";
    margin-right: 5px;
}

.upload:before {
    content: "\e60b";
    margin-right: 5px;
}

/***************************************************************************
 *****************************结尾部分***************************************
 ***************************************************************************/
footer {
    width: 100%;
    height: 7%;
    background: -webkit-linear-gradient(top,rgba(90,90,90,0.8) 0%,rgba(0,0,0,0.8) 10%);
    -webkit-app-region: no-drag;
}

footer .author {
    margin-top: 6px;
    float: right;
    font-size: 1.3em;
    font-style: italic;
    color: #ffffff;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.ttf?-cztbei') format('truetype');
    font-weight: normal;
    font-style: normal;
}